.todoFlex {
  display: flex;
  width: 345px;
  height: 62px;
  padding: 16px;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-rounded-md, 6px);
  background: #f9fafb;
}
.newTodo {
}
